@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    color: rgb(14, 27, 23);
    background-color: rgb(27, 221, 255);
    font-family: 'Roboto', sans-serif;
    margin: 50px 50px;
}

figure {
    border: 10px #232bffcc solid;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
}

figcaption {
    background-color: cadetblue;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

#vuorikuva {
    width: 100%;
    max-width: 400px;
}

.esittely {
    font-size: 20px;
    font-weight: bold;
    
}
